/* style for contact us page */
body {
    overflow-x: hidden;
}

::selection {
    color: white;
    background: #FEBB60;
}

h1 {
    font-weight: bold;
    font-family: 'Playfair Display', serif !important; 
}

h2 {
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: 700 !important;
}

p {
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: 300 !important;
}

a {
    text-decoration: none;
}

/*Start of Navbar*/
.navbtn {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #41B188;
    cursor: pointer;
    font-size: 1rem
}

.navbtn:hover {
    color: #41B188;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #333333;
    font-weight: 300;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41B188;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bookbtn {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    transition: 0.25s ease-in-out;
    color: white;
    background-color: #41B188;
}

.bookbtn:hover {
    color: white;
    background-color: #FEBB60;
    border: 0px #FEBB60 solid;
}
/*Navbar css ends here*/

/* Start of Footer CSS*/
.footer-container {
    background-color: #41B188;
    color: white;
    font-size: 1rem;
    padding: 5rem 5%;
}

.quicklinks {
    color: white;
    transition: 0.2s ease-in-out
}

.quicklinks:hover {
    color: #FEBB60;
}

.quicklinksdiv {
    padding: 0.5rem;
}

.contactdiv {
    padding: 0.5rem;
}

.footer-logo {
    color: white;
    margin: 4%;
    transition: 0.2s ease-in-out;
}

.footer-logo:hover {
    color: #FEBB60;
}
/*End of footer css*/

section {
    min-height: 700px;
}

.button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 1rem;
    transition: all 0.3s;
}

.button:hover {
    color: #333333;
    background-color: white;
}

.hero-banner {
    min-height: 60vh;
    background-image: url('../assets/images/contact-us-banner-image.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -17vh;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.223);
    padding: 5%;
}

.hero-banner h1, .hero-banner p, .our-customers h1, .our-team h1, .our-team p {
    color: white;
}

.quick-links, .contact-form {
    padding: 10rem 5%;
    background-color: white;
}

.quick-links p, .quick-links h1, .quick-links h2, .contact-form h1, .contact-form p {
    color: #333333;
}

.quick-links img {
    width: 4rem;
    height: 4rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: #41B188 !important;
    cursor: pointer;
    transition: all 0.2s;
    border-color: #41B188;
}

.card:hover {
    transform: scale(110%);
}

.card h2, .card p {
    color: white !important;
}

.contact-form input[type="text"], .contact-form textarea {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #333333;
} 

.contact-form input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333333;
    width: 80%;
    transition: all 0.3s;
}   

.contact-form input[type="text"]:hover {
    transform: scale(110%) translateX(5%);
}

.contact-form input[type="text"]::placeholder {
    color: #333333;
} 

.contact-form textarea {
    border: none;
}

.contact-form p {
    font-weight: 400 !important;
}

.contact-form .button {
    color: #333333;
    border-color: #333333;
}

.contact-form .button:hover {
    color: white;
    background-color: #333333;
}

.contact-info {
    min-height: fit-content;
}

/* Google Icons */
.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}


